{% extends "contacts/base.html" %}

{% block title %}<title>Comments List</title>{% endblock %}


{% block content %}
    <h3>Comment List</h1>

    {% if comment_list %}
        <ul>
            {% for comm in comment_list %}
                <li>
                    <a href="{% url 'comment-detail' comm.pk %}"><b>{{ comm.subject }}</b></a> {{ comm.contact }} {{ comm.initial_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments in database</p>
    {% endif %}

{% endblock %}