{% extends "contacts/base.html" %}

{% block title %}<title>Comment Detail: {{ comment }}</title>{% endblock %}


{% block content %}
    <h3>Comment Detail</h1>

    <p><b>Subject: </b><a href="{% url 'subject-detail' comment.subject.pk %}">{{ comment.subject }}</a></p>
    <p><b>Contact: </b><a href="{% url 'contact-detail' comment.contact.pk %}">{{ comment.contact }}</a></p>
    <p><b>Direction of Comment: </b>{{ comment.direction }}</p>
    <p><b>Employee: </b>{{ comment.employee }}</p>
    <p><b>Method of Contact: </b>{{ comment.method }}</p>
    <p><b>Summary of comment:</b></p>
    <p>{{ comment.commentxt }}</p>
    <p><b>attachments: </b>{{ comment.attachment }}</p>

    {% if user.is_staff %}

        <a class="btn btn-primary" href="{% url 'comment_update' comment.pk %}" role="button">Edit</a>

    {% endif %}

{% endblock %}
