{% extends "contacts/base.html" %}

{% block content %}

    {% if user.is_staff %}

    <h1>Delete Comment</h1>

    <p>Are you sure you want to delete the comment: </p>

    <div class="row">
            <div class="col-sm-8">
                <div class="card bg-light border border-secondary">
                    <div class="card-header">{{ comment.contact }} <div class="glyph">{{ comment.method }}</div></div>
                    <div class="card-body">
                        <div class="card-title"><a href="{% url 'comment-detail' comment.pk %}" class="timestamp">{{ comment.timestamp }} - {{ comment.subject }}</a></div>
                        <p class="card-text">{{ comment.commentxt }}</p>
                    </div>
                </div>  
            </div>
        </div>

    <form action="" method="POST">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Yes, delete">
        <input class="btn btn-primary" onclick="window.history.go(-1); return false;" type="button" value="Cancel">
    </form>

    {% else %}

        <p>You do not have permission to delete authors</p>

    {% endif %}

{% endblock %}