{% extends "contacts/base.html" %}

{% block title %}<title>Comments List</title>{% endblock %}


{% block content %}
    <h3>Comment List</h1>

    {% if comment_list %}
        <table style="width: 100%">
            <tr>
                <th style="width: 40%;">Subject</th>
                <th style="width: 30%;">Contact</th>
                <th style="width: 10%;">Employee</th>
                <th style="width: 20%;">Time</th>
            </tr>
            {% for comm in comment_list %}
            <tr>
                <td>
                    <a href="{% url 'comment-detail' comm.pk %}"><b>{{ comm.subject }}</b></a>
                </td>
                <td>
                    <a href="{% url 'contact-detail' comm.contact.pk %}"><b>{{ comm.contact }}</b></a>
                </td>
                <td>
                    {{ comm.employee }}
                </td>
                <td>
                    {{ comm.comment_datetime }}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No comments in database</p>
    {% endif %}

    {% if user.is_staff %}

    <a class="btn btn-primary" href="{% url 'comment_create' %}" role="button">Add New</a>

    {% endif %}

{% endblock %}