{% extends "contacts/base.html" %}

{% block title %}<title>Comment Detail: {{ comment }}</title>{% endblock %}


{% block content %}
    <div class="alert alert-light" role="alert">
        <h3>Incoming Comment Detail</h3>
    </div>

    <p><b>Employee: </b>{{ comment.employee }}</p>

    <div class="row">
        <div class="col-sm-8">
            <div class="card bg-light border border-secondary">
                <div class="card-header"><a href="{% url 'contact-detail' comment.contact.pk %}">{{ comment.contact }}</a> <div class="glyph">{{ comment.method }}</div></div>
                <div class="card-body">
                    <div class="card-title"><div class="timestamp">{{ comment.comment_datetime }} - <a href="{% url 'subject-detail' comment.subject.pk %}"> {{ comment.subject }} </a></div></div>
                    <p class="card-text">{{ comment.commentxt }}</p>
                </div>
            </div>  
        </div>
    </div>

    <p><b>attachments: </b>{{ comment.attachment }}</p>

    {% if user.is_staff %}
        <a class="btn btn-primary" href="{% url 'comment_update' comment.pk %}" role="button">Edit</a>
    {% endif %}

    {% if user.is_superuser %}
        <a class="btn btn-primary" href="{% url 'comment_delete' comment.pk %}" role="button">Delete</a>
    {% endif %}

{% endblock %}
