{% extends "contacts/base.html" %}

{% block title %}<title>Comment Detail: {{ comment }}</title>{% endblock %}


{% block content %}
    <h3>Comment Detail</h1>

    <p>Subject: {{ comment.subject }}</p>
    <p>Contact: {{ comment.contact }}</p>
    <p>Direction of Comment: {{ comment.direction }}</p>
    <p>Employee: {{ comment.employee }}</p>
    <p>Method of Contact: {{ comment.method }}</p>
    <p>Summary of comment:</p>
    <p>{{ comment.commentxt }}</p>
    <p>attachments: {{ comment.attachment }}</p>

{% endblock %}
