{% extends "contacts/base.html" %}

{% block title %}<title>Contacts List</title>{% endblock %}


{% block content %}
    <h3>Contact List</h1>

    {% if contact_list %}
        <ul>
            {% for contact in contact_list %}
                <li>
                    <a href="{% url 'contact-detail' contact.pk %}">{{ contact.first_name }} {{ contact.last_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No contacts in database</p>
    {% endif %}
    <a class="btn btn-default" href="{% url 'contact_create' %}" role="button">Add New</a>
{% endblock %}