{% extends "contacts/base.html" %}

{% block title %}<title>Contact Detail: {{ contact.first_name }} {{contact.last_name }}</title>{% endblock %}


{% block content %}
    <h3>Contact Detail</h1>

    <p>{{ contact.first_name }} {{ contact.last_name }}</p>
    <p>Note: {{ contact.textnote }}</p>
    <hr>
    <p>Organization: {{ contact.organization }}</p>
    <p>Organization Title: {{ contact.org_title }}</p>
    <hr>
    <p>email: {{ contact.email }} phone: {{ contact.phone }}</p>
    <p>address: {{ contact.address1 }} {{ contact.address2 }}</p>
    <p>city: {{ contact.city }} state: {{ contact.state }} zip: {{ contact.zip }}</p>

    <a class="btn btn-default" href="{% url 'contact_update' contact.pk %}" role="button">Edit</a>
{% endblock %}
