{% extends "contacts/base.html" %}

{% block title %}<title>Contact Detail: {{ contact.first_name }} {{contact.last_name }}</title>{% endblock %}


{% block content %}
    <h3>{{ contact.first_name }} {{ contact.last_name }}</h3>
    <hr>
    <p><b>Note:</b> {{ contact.textnote }}</p>
    <hr>
    <p><b>Organization:</b> <a href="{% url 'org-detail' contact.organization.pk %}"> {{ contact.organization }}</a></p>
    <p><b>Organization Title:</b> {{ contact.org_title }}</p>
    <hr>
    <p><b>Contact information</b></p>
    <p>{{ contact.address1 }} {{ contact.address2 }}</p>
    <p>{{ contact.city }}, {{ contact.state }} {{ contact.zip }}</p>
    <p><b>email:</b> {{ contact.email }}</p>
    <p><b>phone:</b> {{ contact.phone }}</p>

    {% if user.is_staff %}

    <a class="btn btn-primary" href="{% url 'contact_update' contact.pk %}" role="button">Edit</a>
    <a class="btn btn-primary" href="{% url 'comment_create' %}" role="button">Add New Comment</a>

    {% endif %}

    <h3>Communication History</h3>

    <div class="container">
    {% if contact.get_comments %}
        {% for comment in contact.get_comments %}
        {% if comment.is_incoming %}
        <div class="row">
            <div class="col-sm-8">
                <div class="card bg-light border border-secondary">
                    <div class="card-header">{{ comment.contact }} <div class="glyph">{{ comment.method }}</div></div>
                    <div class="card-body">
                        <div class="card-title"><a href="{% url 'comment-detail' comment.pk %}" class="timestamp">{{ comment.timestamp }}</a></div>
                        <p class="card-text">{{ comment.commentxt }}</p>
                    </div>
                </div>  
            </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-sm-8 offset-sm-4">
                <div class="card bg-light border border-primary">
                    <div class="card-header bg-primary text-white">{{ comment.employee.first_name }} {{ comment.employee.last_name }}<div class="glyph">{{ comment.method }}</div></div>
                    <div class="card-body">
                        <div class="card-title"><a href="{% url 'comment-detail' comment.pk %}"  class="timestamp">{{ comment.timestamp }}</a></div>
                        <p class="card-text">{{ comment.commentxt }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% else %}
        <div class="row">
            <p>No communication history</p>
        </div>
    {% endif %}
    </div>
    
{% endblock %}
