{% extends "contacts/base.html" %}

{% block title %}<title>Contacts List</title>{% endblock %}


{% block content %}
    <h3>Contact List</h1>

    {% if contact_list %}
        <table style="width: 100%">
            <tr>
                <th style="width: 30%;">Contact</th><th style="width: 30%;">Address</th><th style="width: 20%;">email</th><th style="width: 10%;">Phone</th>
            </tr>
            {% for contact in contact_list %}
            <tr>
                <td>
                    <a href="{% url 'contact-detail' contact.pk %}"><b>{{ contact.first_name }} {{ contact.last_name }}</b></a>
                </td>
                <td>
                    {{ contact.address1 }} {{ contact.address2 }}
                </td>
                <td>
                    {{ contact.email }}
                </td>
                <td>
                    {{ contact.phone }}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No contacts in database</p>
    {% endif %}

    {% if user.is_staff %}

    <a class="btn btn-primary" href="{% url 'contact_create' %}" role="button">Add New</a>

    {% endif %}

{% endblock %}