{% extends "contacts/base.html" %}

{% block title %}<title>Contacts List</title>{% endblock %}


{% block content %}
    <div class="alert alert-light" role="alert">
        <h3>Contact List</h3>
    </div>

    {% if contact_list %}
        <table class="table table-hover" style="width: 100%">
            <tr>
                <th style="width: 25%;">Contact</th>
                <th style="width: 30%;">Address</th>
                <th style="width: 20%;">email</th>
                <th style="width: 15%;">Phone</th>
            </tr>
            {% for contact in contact_list %}
            <tr>
                <td>
                    <a href="{% url 'contact-detail' contact.pk %}"><b>{{ contact.first_name }} {{ contact.last_name }}</b></a>
                </td>
                <td>
                    {{ contact.address1 }} {{ contact.address2 }}
                </td>
                <td>
                    <a href="mailto:{{ contact.email}}">{{ contact.email }}</a>
                </td>
                <td>
                    <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No contacts in database</p>
    {% endif %}

    {% if user.is_staff %}

    <a class="btn btn-primary" href="{% url 'contact_create' %}" role="button">Add New</a>

    {% endif %}

{% endblock %}