
<!-- this is the form that appears on the main tab -->

    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Front Form</h5>

            <form class="form" id="commentform" action="" method="post">

                {% csrf_token %}

                <!-- {{ subject_form.summary }} -->
                
                <div class="form-group">

                    <input type="text" class="form-control autocomplete" id="nameSearchField" placeholder="Search by name" tabindex="1"/>

                </div>

                      
                <!-- buttons -->

                <div class="form-group">

                        <button id="enableDraw" class="btn btn-primary" data-toggle="button" tabindex="2">Place Point Marker</button>
                        <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
                        <button id="cancelBtn" class="btn btn-secondary">Cancel</button>
                        <p style="font-size: 80%;" id="drawMssg">Click the map to place a point</p>
                </div>


            </form>

            <script>
                    $(function () {

                        // when a name is entered...
                        // show list of topics below, if person is in Contacts list
                        // display form to create new person, if not in Contacts lists

                        function populateConversationHistory(contactName) {
                            console.log(contactName);

                        };
                        

                        // populate the dropdown list with all the names in the Contacts list
                        function addContactsToDropdown() {
                            var contactList = [];

                            {% for contact in contacts %}
                               contactList.push('{{ contact }}');
                            {% endfor %}
    
                            var contactNames = contactList;
                            
                            // autocomplete in the Name field
                            // uses jQueryUI to set the values:  http://api.jqueryui.com/autocomplete/

                            $(".autocomplete").autocomplete({
                                delay: 500,
                                source: contactNames,
                                select: function(e, ui) {
                                    // when a value is selected from the dropdown list, a ui object is returned with the selected value
                                    populateConversationHistory(ui.item.value);                                 }
                            });
                        };



                        // submitting a search
                        // handle pressing the Enter key inside the search field
                        $("#nameSearchField").on("keypress", function (e) {
                            
                            if (e.keyCode === 13) {
                                e.preventDefault();  // prevent the default Enter Key response, or it will also set off the buttons
                                populateConversationHistory($("#nameSearchField").val());
                            };
                        });

                        // add a search button here


                        addContactsToDropdown();
                    });
            </script>
        </div>
    </div>
