<!-- this is the form that appears on the main tab -->

<div class="card">
    <div class="card-body">

        <h5 class="card-title">Search Form</h5>

        <form class="form" id="commentform" action="" method="post">

            {% csrf_token %}

            <!-- {{ subject_form.summary }} -->

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control autocomplete" id="nameSearchField" placeholder="Search Person" />
                </div>
            </div>

            <div class="container" id="contactInfo">

            </div>

            <div class="form-group">
                <div class="input-group">
                    <select class="form-control" id="subjectPicker">
                    </select>
                </div>
            </div>

            <div class="container" id="messageStream">

            </div>

            <!-- buttons -->
            <div class="form-group">
                <button id="enableDraw" class="btn btn-primary" data-toggle="button" tabindex="2">Place Point Marker</button>
                <button id="submitBtn" class="btn btn-primary" type="submit">Submit</button>
                <button id="cancelBtn" class="btn btn-secondary">Cancel</button>
                <p style="font-size: 80%;" id="drawMssg">Click the map to place a point</p>
            </div>

        </form>
    </div>
</div>

<script>
    $(function () {

        console.log('{{ contacts.objects.all }}');

        var contactList = []; // array of Contact names (first and last) as strings
        var contactIDs = {};  // object of {name : uuid} pairs
        var topicsList = ["<option value='placeholder' selected disabled>Topics</option>"];  // list of Topics associated with a Contact/Person 

        // when a name is entered...
        // show list of topics below it, if that person is in Contacts list
        // display form to create new person, if not in Contacts lists

        function createNewContact(contactName) {
            console.log("create a new contact");
        };


        function showContactInfo(contactID) {
            // populate the contactInfo div with Contact/Person's info

            // loop through Contacts/People, check if their Contact.id matches the current Contact's id
            {% for contact in contacts %}
                if (contactID == '{{ contact.id }}') {
                    $("#contactInfo").empty().append(
                        "<table class='table'>" + 
                            "<tr><th>Addr</th><td>" + "{{ contact.address1 }}" + "</td></tr>" +
                            "<tr><th>Phone</th><td>" + "{{ contact.phone }}" + "</td></tr>" +
                            "<tr><th>Email</th><td>" + "{{ contact.email }}" + "</td></tr>" +
                        "</table>"
                    );
                }
            {% endfor %}
        };

        function addTopics(contactName) {
            
            // enable the Subject dropdown list
            $("#subjectPicker").prop('disabled', false);

            {% for subject in subjects %}
                topicsList.push("<option>" + "{{ subject.summary }}" + "</option>");
            {% endfor %}

            $("#subjectPicker").html(topicsList);

            // check if the contactName is an existing Contact
            if (contactName != null) {
                if (contactName in contactIDs) {
                    // add the selected contact's topics to the dropdown list

                    // clear any existing options of the Subject/Topic dropdown
                    $("#subjectPicker").empty();
                    
                    // get the uuid of the Person/Contact
                    var contactID = contactIDs[contactName];
    
                    // add/filter this contact's topics to a list
                    // this should probably search all comments, in case a Person has commented on a Topic
                    // that he/she didn't originate.
                    // is this a likely case scenario ???
    
                    // clear the options list
                    topicsList = [];
    
                    // loop through Subjects/Topics, check if their Contact.id matches the current Contact's id
                    {% for subject in subjects %}
                        if (contactID == '{{ subject.contact.id }}') {
                            topicsList.push("<option>" + "{{ subject.summary }}" + "</option>");
                        }
                    {% endfor %}
    
                    // populate the dropdown element with the contents of topicsList, or disable the dropdown
    
                    if (topicsList.length > 0) {
                        $("#subjectPicker").html(topicsList);
                    } else {
                        $("#subjectPicker").attr('disabled', 'disabled');
                    }

                    // show the Contact's info below the dropdown list

                    showContactInfo(contactID);

                } else {
                // remove any displayed contact/person info
                $("#contactInfo").empty();
                
                // present the form fields to create a new Contact
                createNewContact(contactName);
                }
            }
        };

        // populate the Contact (people) dropdown list with all the names in the Contacts list
        function addContactsToDropdown() {

            {% for contact in contacts %}
                contactList.push('{{ contact }}');
                contactIDs['{{ contact}}'] = '{{ contact.id }}';
            {% endfor %}

            var contactNames = contactList;

            // autocomplete in the Name field
            // uses jQueryUI to set the values:  http://api.jqueryui.com/autocomplete/

            $(".autocomplete").autocomplete({
                delay: 500,
                source: contactNames,
                select: function (e, ui) {
                    // when a value is selected from the dropdown list, a ui object is returned with the selected value
                    addTopics(ui.item.value);
                }
            });
        };

        // submitting a search
        // handle pressing the Enter key inside the search field

        $("#nameSearchField").on("keypress", function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();  // prevent the default Enter Key response, or it will also set off the buttons
                addTopics($("#nameSearchField").val());
            };
        });

        // add a search button here

        // initialize the dropdown lists
        addContactsToDropdown();
        addTopics();

    });
</script>