<!-- this is the form that appears on the main tab -->

<div class="card">
    <div class="card-body">

        <h5 class="card-title" id="searchFormTitle">Individual Search Form</h5>

        <form class="form" id="commentform" action="" method="post">

            {% csrf_token %}

            <!-- {{ subject_form.summary }} -->

            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control autocomplete" id="nameSearchField" placeholder="Search Person" />
                </div>
            </div>


            <!-- Display the selected Contact information here -->
            <div id="contactInfo"></div>
        


            <!-- end FORM here, or any link you click in the Accordion List will send a POST request -->
        </form>

            <!-- Accordion List:  HTML for the accordion drawers gets injected into the #topicAccordion div -->
            <div class="tab-pane" id="topicList" role="tabpanel">
                <div id="topicAccordion">
                </div>
            </div>

    </div>
</div>

<script>
    $(function () {

        var contactList = []; // array of Contact names (first and last) as strings
        var contactIDs = {};  // object of {name : uuid} pairs
        var topicList = [];  // list of Topics associated with a Contact/Person 
        var topicIDs = {}; // object of {topic : uuid} pairs

        // create a new contact using the form inputs
        function createNewContact(contactName) {
            // this is where the form fields will be POSTed to the django View, and a new Contact object created

            console.log("create a new contact");
        };

        // when a name is entered...
        // show an Accordion list topics below it, if that person is in Contacts list, or
        // display form to create new person, if not in Contacts lists

        function showContactInfo(contactID) {
            // populate the #contactInfo div with Contact/Person's info

            // loop through Contacts/People, check if their Contact.id matches the contactID argument
            {% for contact in contacts %}
                if (contactID == '{{ contact.id }}') {
                    $("#contactInfo").empty().append(
                        "<table class='table'>" +
                            "<tr><th colspan='2'><h4>{{ contact }}</h4></th><td>" +
                            "<tr><th>Address</th><td>" + "{{ contact.address1 }} {{ contact.address2 }}" + "</td></tr>" +
                            "<tr><th>Phone</th><td>" + "{{ contact.phone }}" + "</td></tr>" +
                            "<tr><th>Email</th><td>" + "{{ contact.email }}" + "</td></tr>" +
                        "</table>"
                    );
                }
            {% endfor %}

            $("#nameSearchField").blur();
        };

        
        function showTopicThread(topicID) {
            // get the specific Subject/Topic/Thread/Conversation, return the back-and-forth thread of comments

            // add the subjects/topics associated with the selected person
            {% for subject in subjects %}
                if (topicID == '{{ subject.id }}') {

                    {% if subject.get_comments %}

                        var accordionThread = "";

                        {% for comment in subject.get_comments %}
                            {% if comment.is_incoming %}

                                var comm = "{{ comment.commentxt|safe }}";

                                accordionThread += `
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <div class="card border-dark">
                                                <div class="card-header">{{ comment.contact }}</div>
                                                <div class="card-body">
                                                    <div class="card-title">{{ comment.timestamp }}</div>
                                                    <p class="card-text">` + comm + `</p> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                            {% else %}
                            
                                var comm = "{{ comment.commentxt|safe }}";

                                accordionThread += `
                                    <div class="row">
                                        <div class="col-sm-10 offset-sm-2">
                                            <div class="card border-primary">
                                                <div class="card-header bg-info text-white text-right">{{ comment.employee.first_name }} {{ comment.employee.last_name }}</div>
                                                <div class="card-body text-info">
                                                    <div class="card-title text-right">{{ comment.timestamp }}</div>
                                                    <p class="card-text text-right">`  + comm + `</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>`;
                            {% endif %}
                        {% endfor %}

                        return accordionThread;

                    {% else %}
                        return "No Comment History";
                    {% endif %}
                }
            {% endfor %}   
        };


        function addTopics(contactName) {

            // QUESTION:  Is it possible to get here if the user enters anything but an existing Person?

            // input is the name of a person, in the format returned from Contact.__str__(self) in the model

            // build the array of all existing topic descriptions
            // build the dictionary/object of all topic descriptions, uuids, and lat/lon point coordinates

            {% for subject in subjects %}
                topicList.push("{{ subject.summary }}");
                topicIDs['{{ subject }}'] = { "subjectId": '{{ subject.id }}', "latlon": [{{ subject.lat }}, {{ subject.lon }} ] };
            {% endfor %}


            // check if the contactName is an existing Contact.   ??? Is this necessary?
            if (contactName != null) {
                if (contactName in contactIDs) {

                    // clear any existing options of the Subject/Topic dropdown
                    $("#topicAccordion").empty();

                    // add the selected contact's topics to the accordion

                    // get the uuid of the Person/Contact submitted as the argument
                    var contactID = contactIDs[contactName];

                    // add this contact's topics to an array for creating the individual drawers in the accordion 
                    // Each topic is itself an array ['subject', 'html_for_accordion_slider']
                    topics = [];


                    // loop through Subjects/Topics, check if their Contact.id matches the current Contact's id
                    // add matching Topics to the topicList array
                        {% for subject in subjects %}
                            if (contactID == '{{ subject.contact.id }}') {

                                // get the HTML for the back-and-forth comments
                                commentThread = showTopicThread("{{ subject.id }}");

                                // generate the HTML for each subject's accordion drawer
                                accordionDrawer = `
                                    <div class="card accordionCard">
                                        <div class="card-header" id="heading_{{ forloop.counter }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse_{{ forloop.counter }}">
                                                    {{ subject }}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapse_{{ forloop.counter }}" class="collapse" data-parent="#topicAccordion">
                                            <div class="card-body">
                                                ` + commentThread + `
                                            </div>
                                        </div>
                                    </div>`

                                topics.push([ "{{ subject }}" , accordionDrawer]);

                            }
                        {% endfor %}

                        // return the object containing all of the HTML for the individual accordion drawers
                        return topics;

                } else {
                        alert("huh?");
                        $("#topicAccordion").hide();
                }  
            } else {

                    // remove any displayed contact/person info
                    $("#contactInfo").empty();

                    // present the form fields to create a new Contact
                    createNewContact(contactName);
            }
        };
        
        
        function addAccordionDrawers(topics) {

            $("#topicAccordion").append("<h5>Contact History</h5>");
            for (topic in topics) {

                $("#topicAccordion").append(topics[topic][1]);

            }
        };



        // populate the Contact (people) dropdown list with all the names in the Contacts list
        function addContactsToDropdown() {

            {% for contact in contacts %}
                contactList.push('{{ contact }}');
                contactIDs['{{ contact}}'] = '{{ contact.id }}';
            {% endfor %}

            var contactNames = contactList;

            // setup autocomplete in the Name field
            // uses jQueryUI to set the values:  http://api.jqueryui.com/autocomplete/
            // populates the Contact/Person dropdown list with full names of each record in the Contacts table
            $(".autocomplete").autocomplete({
                delay: 500,
                source: contactNames,
                autoFocus: true,
                select: function (e, ui) {

                    // arrive here only when a value is selected from the autocomplete dropdown list
                    // use that name to update the Topics accordion

                    var topicCards = addTopics(ui.item.value);
                    if (topicCards.length > 0) {

                        $("#topicAccordion").show();
                        // send the array of topics to a function that populates the accordion list
                        addAccordionDrawers(topicCards);
                    }
                    showContactInfo(contactIDs[ui.item.value]);
                    $(this).val('');  // clear out the search field, so users can't hit Enter on an autocompleted value
                    return false;
                }
            });
        };


        $("#nameSearchField").on("keypress", function (e) {

            // Problem:
            // User can arrive here by hitting Enter on the name after selecting it from the dropdown.
            // Solution:
            // Clear the dropdown list after user selects a valid contact


            // arrive here only when user enters a name in the name search field that isn't in the autocomplete list
            // this means the Contact entered in the search field is not an existing Contact in the database
            // this should kickoff the process of creating a new Contact/Person using input forms

            if (e.keyCode === 13) {
                e.preventDefault();  // prevent the default Enter Key response, or it will also set off other buttons

                console.log("Enter Key");
                createNewContact($("#nameSearchField").val());
            };
        });


        // initialize the autocomplete dropdown contact list
        addContactsToDropdown();

    });
</script>
