{% extends "contacts/base.html" %}

{% block title %}<title>Organization Detail: {{ contact.pk }}</title>{% endblock %}


{% block content %}
    <h3>{{ organization.org_name }}</h3>
    <p>{{ organization.org_address1 }} {{ organization.org_address2 }}</p>
    <p>{{ organization.org_city }} {{ organication.org_state }} {{ organization.org_zipcode }}</p>
    
    <div class='container'>


    <h4>Organization Members</h4>

        {% if organization.get_members %}
            <ul>
                {% for member in organization.get_members %}
                    <li><a href="{% url 'contact-detail' member.pk %}"><b>{{ member.first_name }} {{ member.last_name }}</b></a></li>
                {% endfor %}
            </ul>
        {% else %}
        <div class="row">
                <p>No communication history</p>
            </div>
        {% endif %}
    </div>

    {% if user.is_staff %}

        <a class="btn btn-primary" href="{% url 'organization_update' organization.pk %}" role="button">Edit</a>

    {% endif %}

    {% endblock %}
