{% extends "contacts/base.html" %}

{% block title %}<title>Organizations List</title>{% endblock %}


{% block content %}
    <div class="alert alert-light" role="alert">
        <h3>Organization List</h3>
    </div>
    

    {% if organization_list %}
        <table style="width: 100%">
            <tr>
                <th style="width: 40%;">Organization</th>
                <th style="width: 25%;">Address</th>
                <th style="width: 20%;">City</th>
                <th style="width: 15%;">Phone</th>
            </tr>
            {% for org in organization_list %}
            <tr>
                <td>
                    <a href="{% url 'org-detail' org.pk %}"><b>{{ org.org_name }}</b></a>
                </td>
                <td>
                    {{ org.org_address1 }} {{ org.org_address2 }}
                </td>
                <td>
                    {{ org.org_city}}
                </td>
                <td>
                    <a href="tel:{{ org.org_phone }}">{{ org.org_phone }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <p>No organizations in database</p>
    {% endif %}

    {% if user.is_staff %}
        <a class="btn btn-primary" href="{% url 'organization_create' %}" role="button">Add New</a>
    {% endif %}
    
{% endblock %}