{% extends "contacts/base.html" %}

{% block loadleaflet %}
    {% load leaflet_tags %}
{% endblock %}

{% block leafletheaders %}
    {% leaflet_js %}
    {% leaflet_css %}
{% endblock %}

{% block title %}<title>Subject Detail: {{ subject.summary }}</title>{% endblock %}


{% block content %}
    <h3>Subject Detail</h3>

    <p><b>Summary: </b>{{ subject.summary }}</p>
    <p><b>Contact: </b>{{ subject.contact }}</p>
    <p><b>Employee: </b>{{ subject.employee }}</p>
    <p><b>Subject Created: </b>{{ subject.initial_date }}</p>
    <p><b>Last Activity: </b>{{ subject.last_activity }}</p>
    <hr>
  

    {# leaflet map gets injected here #}
    {% leaflet_map "subject_mapid" callback="window.map_init_basic" fitextent="False" %}

        <!-- clicking the Add New Comment button should redirect users back to the Subject Detail page -->
        <a class="btn btn-primary" href="{% url 'subject_update' subject.pk %}" role="button">Edit Details</a>
        <a class="btn btn-primary" href="{% url 'comment_create' %}" role="button">Add New Comment</a>


    <h3>Comment History</h3>
    <!-- Create the back-and-forth comment structure here -->

    <div class="container">

        {% for comment in subject.get_comments %}
            {% if comment.is_incoming %}
            <div class="row">
                <div class="col-sm-8">
                    <div class="card bg-light border border-secondary">
                        <div class="card-header">{{ comment.contact }}</div>
                        <div class="card-body">
                            <div class="card-title"><a href="{% url 'comment-detail' comment.pk %}" class="timestamp">{{ comment.timestamp }}</a></div>
                            <p class="card-text">{{ comment.commentxt }}</p>
                        </div>
                    </div>  
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-sm-8 offset-sm-4">
                    <div class="card bg-light border border-primary">
                        <div class="card-header bg-primary text-white">{{ comment.employee }}</div>
                        <div class="card-body">
                            <div class="card-title"><a href="{% url 'comment-detail' comment.pk %}"  class="timestamp">{{ comment.timestamp }}</a></div>
                            <p class="card-text">{{ comment.commentxt }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}

    </div>  

    <script>
        // Leaflet widget setup
        function map_init_basic(map, options) {

            L.marker([{{ subject.lat }}, {{ subject.lon }}]).addTo(map)
                .bindPopup('Subject Location');

            map.flyTo([{{ subject.lat }}, {{ subject.lon }}], 16);
        

            {% for subpoint in subjects %}

                {% if not subpoint.pk == subject.pk %}
                    // this doesn't work
                    // need to pass the entire set of subjects to this template in the context settings

                    var marker = L.marker([ {{ subpoint.lat }}, {{ subpoint.lon }} ]).addTo(map);

                    subjectURL = "{% url 'subject-detail' subject.pk %}"

                    marker.bindPopup("<h5>{{ subject.contact }}</h5>"
                                    + "<a href='" + subjectURL + "'>{{ subject.summary }}</a><br><br>"
                                    + "{{ subject.get_comments.count }} comments on this subject<br>"
                                    + "Subject Created: {{ subject.initial_date }}<br>" 
                                    + "Last Activity: {{ subject.last_activity }}"
                                    );
                    
                    marker.bindTooltip("{{ subject.contact }} <br> {{ subject.summary }} ")

                {% endif %}

            {% endfor %}
        }
    </script>

{% endblock %}
