{% extends "contacts/base.html" %}

{% block title %}<title>Subjects List</title>{% endblock %}


{% block content %}
    <h3>Subject List</h1>

    {% if subject_list %}
        <ul>
            {% for subj in subject_list %}
                <li>
                    <a href="{% url 'subject-detail' subj.pk %}"><b>{{ subj.summary }}</b></a> {{ subj.contact }} {{ subj.initial_date }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No subjects in database</p>
    {% endif %}
    <a class="btn btn-default" href="{% url 'subject_create' %}" role="button">Add New</a>
{% endblock %}