/* 
custom css
served from the static folder 
*/


.jumbotron {
    padding: 10px;
    margin-bottom: 10px;
}

.container-fluid {
    padding: 0 10px;
}

div .row {
    margin-bottom: 12px;
}

a.btn.btn-primary {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.card-header {
    padding: 0.5rem;
}

div.card-title {
    font-size: 0.6rem;
}

div.card-body {

    padding: 0 5px 10px;
}
.timestamp {
    font-size: 0.8rem;
    margin-top: 0.2rem;
    color: #444;
}

.leaflet-container {  /* Default size of all maps */
    width:  100%;
    height: 600px;
}

div #subject_mapid {  /* re-styles the map window on the Subject Detail page */
    height: 400px;
}

div.glyph {
    font-size: 0.8rem;
    font-weight: bold;
    float: right;
}

a {
    color: #333;
}

th {
    color:#888;
}

.tabarea {
    background-color: #dddddd;
    padding: 4px;
    padding-top: 8px;
    height: 600px;
}

.tab-content {
    max-height: 540px;
    overflow-y: scroll;
}

.orgtitle {
    color: darkgrey;
    font-size: 0.9rem;
}

#searchFormTitle {
    margin-top: 12px;
}